<div class="container">
<% if(currentUser) { %>
    <h1>Chat</h1>
    <form id="chatForm">
        <input type="text" id="chat-input">
        <input type="hidden" id="chat-user-name" value="<%= currentUser.fullName %>">
        <input type="hidden" id="chat-user-id" value="<%= currentUser._id %>">        
        <input type="submit" value="Send">
    </form>
    <div id="chat"></div>
<% } %>
</div>